
.container {
    display: flex;
    flex-flow: column;
    padding: 20px;
    height: 100%;
}

.result {
    padding-top: 20px;
    font-size: larger;
    font-weight: bold;
}

.svg-container {
    flex-grow: 1;   // to make it take up the remainder of the page space
}

img {
    flex-grow: 1;
}